[Unit]
Description=Starts the user startup scripts of the detected hardware config
Wants=graphical-session.target

[Service]
Type=forking
ExecStart=/etc/desktops/desktops apply --type=boot
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target
