[Unit]
Description=Starts the user startup scripts of the detected hardware config
Requires=graphical-session.target

[Service]
ExecStart=/bin/env bash -c "/etc/desktops/desktops apply --type=boot"
Type=forking

[Install]
WantedBy=default.target
