[Unit]
Description=Detects the current used desktop
After=display-manager.service

[Service]
Type=oneshot
ExecStart=/etc/desktops/desktops detect --partial --verbose
# I want to slowly remove the root script system
# ExecStart=/etc/desktops/desktops apply --root

[Install]
WantedBy=graphical.target
