[Unit]
Description=Detects the current used desktop
After=display-manager.service

[Service]
ExecStart=/bin/env bash -c "/etc/desktops/desktops detect && /etc/desktops/desktops apply --root"
#Type=oneshot

[Install]
WantedBy=graphical.target
