[Unit]
Description=Starts the user startup scripts of the detected hardware config

[Service]
ExecStart=/bin/env bash -c "/etc/desktops/desktops apply"
#Type=oneshot

[Install]
WantedBy=default.target
