[Unit]
Description=Detects the current used desktop
After=display-manager.service

[Service]
ExecStart=/etc/desktops/desktops
#Type=oneshot

[Install]
WantedBy=graphical.target
